:root {
    /* catppuccin mocha*/
    --background: #1e1e2e ;
    --overlay: #6c7086;
    --text: #cdd6f4;
    /*--accent: #f38ba8;*/
    --accent: #eba0ac;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    "header"
    "headshot "
    "text"
    "footer";
}

@media only screen and (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "header header"
        "headshot text"
        "headshot text"
        "footer footer";
    }
}

@media only screen and (min-width: 786px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        ". header header ."
        ". headshot text ."
        ". headshot text ."
        ". footer footer .";
    }
}

html {
    font-family: "Fira Sans", sans-serif;
    background-color: var(--background);
    color: var(--text);
}

img {
    max-height: 100%;
    max-width: 50%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

div {
    border: 0px solid red;
}

.headshot {
    grid-area: headshot;
    text-align: center;
    position: relative;
}

.text {
    grid-area: text;
    padding: 10px;
}

.footer {
    grid-area: footer;
    padding-top: 60px;
}

.header {
    grid-area: header;
    background-color: var(--background);
    padding: 10px;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icon-container {
    display: flex;
    justify-content: space-around;
}

.icon:hover {
    color: var(--accent);
}

.center {
    text-align: center;
}

a {
    color: var(--text);
}

a:hover {
    color: var(--accent);
}
